@{
    Layout = null;
}

    <link type="text/css" rel="stylesheet" href="~/lib/materialize/css/materialize.min.css"  media="screen,projection"/>


<div style="margin: 15% 15%;padding: 15px; border:1.5px solid black;border-radius:15px;background-color:teal">
    Вход в систему
    <form action="/Home/login" method="post">
        <div class="row">
        <div class="input-field col s12">
          <input id="text" name="login" placeholder="Логин" type="text" class="validate">
        </div>
      </div>
    <div class="row">
        <div class="input-field col s12">
          <input id="password" placeholder="Пароль" name="pass" type="password" class="validate">
        </div>
      </div>
    
    <input class="waves-effect waves-light btn"  type="submit" value="Войти">

    </form>
    
      
</div>